body {
	color:#000;
	background-color:white;
	margin:0px;
	padding:0px;
	font:13px/18px Georgia, Times New Roman, Serif;
	}
	
P, TD, OL, LI, TH	{
	font:13px/18px Georgia, Times New Roman, Serif;
	color: #000;
	}

.table td	{
	font:13px/18px verdana, arial, helvetica, sans-serif;
	color: #000;
	}

.psans	{
	font:13px/18px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
.psans P	{
	font:13px/18px verdana, arial, helvetica, sans-serif;
	color: #000;
	}

.psansbold	{
	font:bold 13px/18px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
.psansbold P	{
	font:bold 13px/18px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
	
.psmall	{
	font:11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
.psmall P	{
	font:11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
	
.smallgrey	{
	font:11px verdana, arial, helvetica, sans-serif;
	color: #666;
	}
.smallgrey P	{
	font:11px verdana, arial, helvetica, sans-serif;
	color: #666;
	}
.checkmark_blue	{
	font:18px Webdings;
	color: #4060C0;
   	}
   	
   	.arrow	{
	font:14px Wingdings;
	color: #4060C0;
   	}

.recycle	{
	font: 11px verdana, arial, helvetica, sans-serif; 
	color: #000; 
	margin: 6px 0px;
	}
.recycle P	{
	font: 11px verdana, arial, helvetica, sans-serif; 
	color: #000; 
	margin: 6px 0px; }

a:link	{color: #003385; text-decoration: none; }
a:visited	{color: #003385; text-decoration: none; }
a:hover	{color: #CC6600; text-decoration: underline; }
a:active	{color: #990000; text-decoration: underline; }

H1	{
	font: 12px/13px Trebuchet MS, Georgia, Times New Roman, Serif;
	color: #777;
	letter-spacing: 3px;
	margin-bottom: -14px;
	}
	
H2	{
	font: bold 20px/21px Georgia, Times New Roman, Serif;
	color: #660000;
	border-bottom: 1px solid #9BC9CE;
	padding-bottom: 2px;
	}

H3	{
	font: bold 24px/25px Georgia, Times New Roman, Serif;
	color: #069;
	}
	
H4	{
	font: bold 13px/18px Georgia, Times New Roman, Serif;
	color: #000;
	}

H5	{
	font: italic 13px/18px Georgia, Times New Roman, Serif;
	color: #000;
	}

/* This is the header search stuff */
#topsearch	{
	margin: 2px 6px 4px 0px;
	padding: 0px;
	/* This width line is causing bugs all of a sudden. I'm taking it out until further notice.
	width: 100%;
	*/
	background-color: none;
	}
.searchbox	{
	vertical-align: text-bottom; 
	text-align: left; 
	padding: 1px; 
	margin: 0px 2px 0px 0px; 
	background-color: #ffffff; 
	width: 153px; 
	font: 10px arial; 
	border: 1px inset #006699;
	/* IE5/Win hack */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 149px; 
	}
body>.searchbox{width: 149px;}
.submit	{
	vertical-align: text-bottom; 
	text-align: center; 
	padding: 0px; 
	margin: 0px; 
	background-color: #069; 
	cursor: hand;
	width: 23px; 
	height: 16px; 
	font: bold 9px/9px verdana; 
	color: #ffffff; 
	border: 1px solid;
	border-color: #9cc #036 #036 #9cc;
	/* IE5/Win hack */
	voice-family: "\"}\"";
	voice-family:inherit;
	height: 16px;
	width: 21px; 
	}
body>.submit{height: 16px; width: 21px;}
/* End header search stuff */

.topnav	{
	padding: 3px 6px 4px 6px;
	font: 11px verdana, arial, helvetica, sans-serif;
	color: #fff;
	}
		
.topnav a:link	{color: #ffffff; text-decoration: none; vertical-align: middle;}
.topnav a:visited	{color: #ffffff; text-decoration: none; vertical-align: middle;}
.topnav a:hover	{color: #006699; background: #ffffff; vertical-align: middle;}
.topnav a:active	{color: #990000; text-decoration: underline; vertical-align: middle;}
		
.footer	{
	font: 11px verdana, arial, helvetica, sans-serif;
	color: #666;
	}
	
.footer P	{
	font: 11px verdana, arial, helvetica, sans-serif;
	color: #666;
	}
	
.homelink	{
	background-color: #BFDFDF;
	vertical-align: middle;
	text-align: left;
	margin: 0px;
	padding: 3px;
	border: 1px solid #069;
	font: 13px/14px Trebuchet MS, Verdana, Arial, sans-serif;
	color: #000;
	}
	
.homelink a:link	{color: #003385; text-decoration: none; }
.homelink a:visited	{color: #003385; text-decoration: none; }
.homelink a:hover	{color: #CC6600; text-decoration: underline; }
.homelink a:active	{color: #990000; text-decoration: underline; }
	
.rootlink	{
	background-color: #fff;
	margin: 0px;
	padding: 3px;
	border: 1px solid #999;
	font: 13px/14px Trebuchet MS, Verdana, Arial, sans-serif;
	color: #555;
	}

.rootlink a:link	{color: #003385; text-decoration: none; }
.rootlink a:visited	{color: #003385; text-decoration: none; }
.rootlink a:hover	{color: #CC6600; text-decoration: underline; }
.rootlink a:active	{color: #990000; text-decoration: underline; }

.downarrow	{
	padding-bottom: 2px;
	text-align: left;
	}

.leafshell	{
	border: 1px solid #069;
	}

.leafhead	{
	background-color: #e7ebf7;
	vertical-align: middle;
	text-align: left;
	margin: 0px;
	padding: 3px;
	font: bold 13px/14px Trebuchet MS, Verdana, Arial, sans-serif;
	color: #fff;
	}

.leaflist {
	background-color: #fff;
	vertical-align: top;
	text-align: left;
	border-top: 1px solid #999;
	font:11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
	
.leaflist a:link	{color: #003385; text-decoration: none; }
.leaflist a:visited	{color: #003385; text-decoration: none; }
.leaflist a:hover	{color: #CC6600; text-decoration: underline; }
.leaflist a:active	{color: #990000; text-decoration: underline; }

.leafselect	{
	background-color: #FFD6A3;
	vertical-align: top;
	text-align: left;
	border-top: 1px solid #999;
	font:11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
	
.onpageshell	{
	border: 1px solid #069;
	}

.onpagehead	{
	background-color: #BFDFDF;
	vertical-align: middle;
	text-align: left;
	margin: 0px;
	padding: 3px;
	font: bold 13px/14px Trebuchet MS, Verdana, Arial, sans-serif;
	color: #069;
	}

.onpagelist {
	background-color: #fff;
	vertical-align: top;
	text-align: left;
	border-top: 1px solid #9cc;
	font:11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
	
.onpagelist a:link	{color: #003385; text-decoration: none; }
.onpagelist a:visited	{color: #003385; text-decoration: none; }
.onpagelist a:hover	{color: #CC6600; text-decoration: underline; }
.onpagelist a:active	{color: #990000; text-decoration: underline; }

/* Styles used to make the warning notes */
.warning	{
	font: 13px/18px Georgia, Times New Roman, Serif;
	color: #900;
	margin-left: 20px;
	margin-right: 20px;
	}
.warning P	{
	font:13px/18px Georgia, Times New Roman, Serif;
	color: #900;
	margin-left: 20px;
	margin-right: 20px;
	}
.warning img	{
	float: left;
	margin-right: 8px;
	}
/* End warning styles */ 

/* Confirmation Styles - dmr6 */
.confirm
{
    COLOR: #C63;
    FONT: 13px/18px Georgia, Times New Roman, Serif;
    MARGIN-LEFT: 20px;
    MARGIN-RIGHT: 20px
}
.confirm P
{
    COLOR: #C63;
    FONT: 13px/18px Georgia, Times New Roman, Serif;
    MARGIN-LEFT: 20px;
    MARGIN-RIGHT: 20px
}
.confirm IMG
{
    FLOAT: left;
    MARGIN-RIGHT: 8px
}
.conferenceday
{
    COLOR: #003385;
    FONT: bold 14px arial, helvetica, verdana
}
.loginconfirm
{
    FONT: bold 14px arial, helvetica, verdana
}
/* End Confirmation Styles - dmr6 */


/* Custom classes -- Header styles ZJD4 */
.reporttitle
{
FONT-FAMILY: Verdana, Arial, helvetica, sans-serif;
COLOR: #069;
FONT-SIZE: 10pt;
FONT-WEIGHT: bold
}

.tableheader
{
FONT-FAMILY: Verdana, Arial, helvetica, sans-serif;
COLOR: #069;
FONT-SIZE: 8pt;
FONT-WEIGHT: bold
}

.listheader
{
COLOR: #399;
FONT-FAMILY: Georgia, Times New Roman, Serif;
FONT-SIZE: 10pt;
FONT-WEIGHT: bold
}

/* End custom classes -- Header styles ZJD4 */

/* I can't remember why I made this one... */
.whitecell	{
	background-color: #fff;
	}
/* End mystery citation */

/* This button is used for all application forms */
.bluebutton	{
	text-align: center; 
	padding: 2px 3px; 
	background-color: #069; 
	cursor: hand; 
	font: bold 11px/11px verdana; 
	color: #fff; 
	border: 2px solid;
	border-color: #A2CBE0 #036 #036 #69c;
	}
/* This button is used for all left-side nav forms */
.bluebuttonsmall	{
	text-align: center; 
	padding: 0px; 
	background-color: #069; 
	cursor: hand; 
	font: bold 9px verdana; 
	color: #fff; 
	border: 2px solid;
	border-color: #A2CBE0 #036 #036 #69c;
	}
/* End applications buttons */

/* This stuff is for the sitemap */
.siteheader	{
	height:20px;
	background-color: #9cc;
	vertical-align: middle;
	text-align: left;
	margin: 0px;
	font:bold 13px Trebuchet MS;
	color: #036;
	}
.siteshell	{
	border: 1px solid #999;
	}
.sitelist {
	background-color: #fff;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #999;
	margin: 5px 0px;
	font: 11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
.sitelist P {
	background-color: #fff;
	vertical-align: top;
	text-align: left;
	margin: 5px 0px;
	font: 11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
.sitelistshell	{
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	}
/* End sitemap stuff */

/* This stuff is used in the applications */
.gotobox	{
	background-color: #ffffff; 
	font: 11px arial; 
	border: 1px solid #999;
	width: 90px;
	cursor: hand;
	}
.weekday	{
	font: bold 18px arial, helvetica, verdana; 
	}
/* End applications stuff */

/* This stuff is for the applications help button */
.helpbox a:link {	
	background-color: #FFE4CA;
	font: bold 11px verdana, helvetica, arial;
	color: #930;
	border: 2px outset #FFB885;
	padding: 2px 3px 3px 3px;
	margin: 0px;
	width: 45px;
	float: right;
	text-align: center; 
	text-decoration: none; 
	}
.helpbox a:visited	{
	background-color: #FFE4CA;
	font: bold 11px verdana, helvetica, arial;
	color: #930;
	border: 2px outset #FFB885;
	padding: 2px 3px 3px 3px;
	margin: 0px;
	width: 45px;
	float: right;
	text-align: center; 
	text-decoration: none; 
	}
.helpbox a:hover	{
	background-color: #930;
	color: #FFE4CA;
	text-decoration: none; 
	}
.helpbox a:active	{
	background-color: #930;
	color: #FFE4CA;
	text-decoration: none; 
	}
/* End applications help button stuff */
/* ADDED BY DAN REED FROM intranet_index.css */

.headshell {
	border: 1px solid #999;
	}

.list {
	background-color: #fff;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #999;
	font:11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}

.listright {
	background-color: #fff;
	vertical-align: top;
	text-align: right;
	border-bottom: 1px solid #999;
	font:11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}
	
.listseparate {
	background-color: #fff;
	vertical-align: top;
	text-align: right;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	font:11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}

.list a:link	{color: #003385; text-decoration: none; }
.list a:visited	{color: #003385; text-decoration: none; }
.list a:hover	{color: #CC6600; text-decoration: underline; }
.list a:active	{color: #990000; text-decoration: underline; }
	
.list P {
	background-color: #fff;
	vertical-align: top;
	text-align: left;
	font:11px verdana, arial, helvetica, sans-serif;
	color: #000;
	}

.listshell	{
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	}

.announce	{
	font:bold 16px/14px Trebuchet MS;
	color: #069;
	}

.header	{
	height:20px;
	background-color: #9cc;
	vertical-align: middle;
	text-align: left;
	margin: 0px;
	border-left: 1px solid #999;
	padding: 0px 3px;
	font:bold 13px Trebuchet MS;
	color: #036;
	}
	
/* This is the division drop-down stuff */
.divsubmit	{
	vertical-align: text-bottom; 
	text-align: center; 
	padding: 0px; 
	margin: 0px 6px 0px 0px; 
	background-color: #9CC; 
	cursor: hand;
	width: 23px; 
	height: 16px; 
	font: bold 9px/9px verdana; 
	color: #369; 
	border: 1px solid;
	border-color: #fff #036 #036 #fff;
	/* IE5/Win hack */
	voice-family: "\"}\"";
	voice-family:inherit;
	height: 14px;
	width: 21px; 
	}
body>.submit{height: 14px; width: 21px;}
.divisionbox	{
	vertical-align: text-bottom; 
	text-align: left; 
	margin: 0px 2px 0px 0px; 
	background-color: #fff; 
	font: 10px verdana, helvetica, arial, sans-serif; 
	color: #000; 
	border: 1px solid #099;
	}
/* End division drop-down stuff */

/* My Intranet Login Button */

.loginbox	{
	vertical-align: text-bottom; 
	text-align: left; 
	padding: 1px; 
	margin: 0px 0px 0px 0px; 
	background-color: #ffffff; 
	width: 80px; 
	height: 16px; 
	font: 10px arial; 
	border: 1px solid #006699;
	}
.logincheck	{
	vertical-align: text-bottom; 
	text-align: center; 
	padding: 0px; 
	margin: 0px 0px 0px 0px; 
	background-color: #ffffff; 
	width: 16px; 
	height: 16px; 
	font: 10px arial;
	border: 1px solid #006699;
	}
.bigloginsubmit	{
	vertical-align: text-bottom; 
	text-align: center; 
	padding: 0px; 
	margin: 0px; 
	background-color: #069; 
	cursor: hand;
	width: 53px; 
	height: 20px; 
	font: bold 12px/12px verdana; 
	color: #ffffff; 
	border: 1px solid;
	border-color: #9cc #036 #036 #9cc;
	}
	
/* End My Intranet Login stuff */

/* Return Link - Added by Dan Reed */
.returnlink {
	vertical-align: text-bottom;
	text-align: right;
	color: #000;
    font: 11px verdana, arial, helvetica, sans-serif
}
/* End Return Link */

/* Added 01/04 by Dee Browning */
.smallblue	{
FONT-SIZE: 8pt;
COLOR: #003399;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
/* End 01/04 style */


/* Calendar styles by Dee Browning */
.CalendarTodayDay
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    font-weight: bold;
    color: Black;
    background-color:White
}
.CalendarTodayDay A:link
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    font-weight: bold;
    color: Black;
    background-color:White
}
.CalendarTodayDay A:visited
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    font-weight: bold;
    color: Black;
    background-color:White
}
.CalendarTodayDay A:Hover
{
    text-decoration: underline;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    font-weight: bold;
    color: #cc6600;
    background-color:White
}
.CalendarWeekDay
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:White
}
.CalendarWeekDay A:link
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:White
}
.CalendarWeekDay A:visited
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:White
}
.CalendarWeekDay A:Hover
{
    text-decoration: underline;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: #cc6600;
    background-color:White
}
.CalendarSelectedDay
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:LightGoldenrodYellow
}
.CalendarSelectedDay A:link
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:LightGoldenrodYellow
}
.CalendarSelectedDay A:visited
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:LightGoldenrodYellow
}
.CalendarSelectedDay A:Hover
{
    text-decoration: underline;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: #cc6600;
    background-color:LightGoldenrodYellow
}
.CalendarWeekendDay
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:WhiteSmoke
}
.CalendarWeekendDay A:link
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:WhiteSmoke
}
.CalendarWeekendDay A:visited
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:WhiteSmoke
}
.CalendarWeekendDay A:Hover
{
    text-decoration: underline;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: #cc6600;
    background-color:WhiteSmoke
}
.CalendarOffMonthDay
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Gray;
    background-color:#F0F7F7
}
.CalendarOffMonthDay A:link
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Gray;
    background-color:#F0F7F7
}
.CalendarOffMonthDay A:visited
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Gray;
    background-color:#F0F7F7
}
.CalendarOffMonthDay A:Hover
{
    text-decoration: underline;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: #cc6600;
    background-color:#F0F7F7
}
.CalendarMonthHeader
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:#BFDFDF
}
.CalendarMonthHeader A:link
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:#BFDFDF
}
.CalendarMonthHeader A:visited
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:#BFDFDF
}
.CalendarMonthHeader A:Hover
{
    text-decoration: underline;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: #cc6600;
    background-color:#BFDFDF
}
.CalendarDayHeader
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: White;
    background-color:#006699
}
.CalendarGoClearDay
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:White
}
.CalendarGoClearDay A:link
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:White
}
.CalendarGoClearDay A:visited
{
	text-decoration: none;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: Black;
    background-color:White
}
.CalendarGoClearDay A:Hover
{
    text-decoration: underline;
    font-size: xx-small;
    font-family: verdana,arial,helvetica,sans-serif;
    color: #cc6600;
    background-color:White
}
.dgheading
{
VERTICAL-ALIGN: top;
BACKGROUND-COLOR: "#BFDFDF";
TEXT-ALIGN: Left;
COLOR: #003385;
FONT: bold 9px verdana, arial, helvetica, sans-serif;
}
/* End calendar styles */