<style>
#searchBox{
  position:absolute;
  top: 60px;
  right: 15px;
}
</style>

<div id="searchBox">
  <input type="search" id="search" />
</div>

<script>
  function activateSearch(){
    $('#searchBox').slideDown().find('#search').focus();
  }

  $('<li id="FindTab"><a href="#">Find</a></li>')
    .click(activateSearch)
    .append('<li role="separator" class="divider"></li>')
    .insertBefore('#FiltersTab');

  $(document).on('keydown', e => {
    if(e.ctrlKey && e.key === 'f') activateSearch();
    if(e.key === 'Escape') $('#searchBox').slideUp();
  });
</script>
