html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #555;
}

.navbar-toggle {
  float: left;
  margin-left: 15px
}

a {
  color: #555;
  text-decoration: none;
}

a:hover, a:focus {
  color: #555;
  text-decoration: none;
}

.container {
  text-align: center;
}

#file_panel {
  width: 60%;
}

input[type='file']{
  display: none;
}

#FastaOrLinkFile, #NodeCSVFile{
  margin-bottom: 10px;
}

td {
  overflow: hidden;
  text-overflow: ellipsis
}

.showForLinkCSV {
  display: none;
}

.showForNodeFile {
  display: none;
}

.showForSequence {
  display: none;
}

.showForMST {
  display: none;
}

#NodeCSVFileColumn {
  display: none;
}

#NodeSequenceColumnRow {
  display: none;
}

#alignerRow {
  display: none;
}

#main-submit {
  display: none;
}

#loadingInformation {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
  padding: 10px;
}

#main_panel {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#network {
  width: 100%;
  height: 100%;
}

#links line {
  stroke: #000;
}

#nodes path {
  stroke: #fff;
  stroke-width: 2px;
  cursor: -webkit-grab;
}

#nodes path.selected {
  stroke: #000;
  stroke-dasharray: 6, 13;
  stroke-width: 2px;
  animation-duration: 1s;
  animation-name: ripple;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes ripple {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 19px;
  }
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.btn-default {
  background-color: #f5f5f5;
}

#playtools {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#tooltip, #contextmenu {
  position: fixed;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 5px;
  opacity: 0;
  display: block;
}

#tooltip {
  max-width: 20%;
  max-height: 20%;
  overflow-wrap: break-word;
  overflow-y: auto;
  z-index: 10000;
}

#contextmenu {
  a:hover{
    background: #fff;
  }
}

#settingsModal {
  .modal-dialog, .modal-content {
    background-color: rgba(255, 255, 255, .5);
  }

  .tab-pane {
    border: 1px solid #ddd;
    border-top: none;
  }

  .panel-body {
    padding: 0px 15px;
  }

  .row {
    border-bottom: 1px solid lightgray;
    div {
      padding: 8px;
    }
  }

  #default-link-threshold {
    width: 5em;
    visibility: hidden;
  }

  #computeMST {
    display: inline-block;
    margin: 0 1em;
  }

  .showForMST {
    display: none;
    margin: 0 1em
  }
}

#networkStatistics, #groupKey {
  position: absolute;
  border-radius: 4px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  th {
    text-align: center;
  }
  th, td {
    border: 1px solid lightgray;
    padding: 4px;
  }
}

#networkStatistics{
  bottom: 10px;
  right: 20px;
}

#groupKey {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 1000;
  select {
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
}

#thresholdTooltip{
  text-align: right;
  border: 0;
}

.nodeVariables, .linkVariables {
  width: 100%;
}
