<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/alertify.min.css" />
  <link rel="stylesheet" href="../stylesheets/main.css" />
  <style>
  .showForSequence {
    display: list-item;
  }
  </style>
  <script src="../vendor/plotly.min.js"></script>
</head>
<body>
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Distance Matrix Configuration</h4>
        </div>
        <table class='table'>
          <tr>
            <td>Show axis labels?</td>
            <td><input type="checkbox" id="showAxisLabels" /></td>
          </tr>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="main_panel"></div>
  <script>
  const electron = require('electron');
  window.jQuery = window.$ = require('jquery');
  require('bootstrap');
  const alertify = require('alertifyjs');

  $(function(){

    electron.ipcRenderer.on('deliver-manifest', (e, manifest) => {
      $('title').text(manifest.productName + ' v. ' + manifest.version);
      $('#AppName').html('<a href="#">'+manifest.productName+'</a>');
      $('#AppVersion').html('<a href="#">'+manifest.version+'</a>');
    });
    electron.ipcRenderer.send('get-manifest');

    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));

    $('body').append(electron.ipcRenderer.sendSync('get-component', 'exportRasterImage.html'));

    function replot(){
      if(!window.distance_matrix){
        return alertify.error('No distance matrix could be found!');
      }

      if(window.plot) Plotly.purge('main_panel');

      var labels = window.nodes.map(d => 'N' + d.id);

      var config = {
        autotick: false,
        showticklabels: $('#showAxisLabels').is(':checked')
      };
      if(!$('#showAxisLabels').is(':checked')){
        config.ticks = '';
      }

      window.plot = Plotly.newPlot('main_panel', [{
        x: labels,
        y: labels,
        z: window.distance_matrix,
        type: 'heatmap',
      }], {
        xaxis: config,
        yaxis: config
      }, {
        displaylogo: false,
        displayModeBar: false
      });
    }

    electron.ipcRenderer.on('deliver-data', (e, data) => {
      Object.assign(window, data);
      replot();
    });
    electron.ipcRenderer.send('get-data');

    $('#showAxisLabels').change(replot);

    $(window).on('resize', replot);
  });

  </script>
</body>
</html>
