<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MicrobeTrace - Filters</title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <style>
#main_panel{
  padding: 10px;
}
  </style>
</head>
<body>
  <div id="main_panel">
    <div class="row">
      <div class="col-xs-3"><strong>Property</strong></div>
      <div class="col-xs-3"><strong>Variable</strong></div>
      <div class="col-xs-6"><strong>Value</strong></div>
    </div>
    <div class="row">
      <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="By what variable would you like to prune links from the network?">Pruning</a></div>
      <div class="col-xs-3"><select id="linkSortVariable" class="linkVariables numeric"><option value="distance">Distance</option></select></div>
      <div class="col-xs-6"><a href="#" data-toggle="tooltip" title="What's the maximum genetic distance you're willing to call a link?"><input type="number" id="default-link-threshold" value="0.015" step="0.001" /></a></div>
    </div>
    <div class="row">
      <div class="col-xs-3"><button id="computeMST" class="btn btn-default btn-xs showForNotMST">Compute MST</button></div>
      <div class="col-xs-9">
        <div class="btn-group btn-group-xs showForMST" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="MSTOptions" id="showAllLinks" autocomplete="off" checked> All
          </label>
          <label class="btn btn-default">
            <input type="radio" name="MSTOptions" id="showMSTLinks" autocomplete="off"> MST
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">Singletons</div>
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="btn-group btn-group-xs" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="singletons" id="ShowSingletons" autocomplete="off" checked> Show
          </label>
          <label class="btn btn-default">
            <input type="radio" name="singletons" id="HideSingletons" autocomplete="off"> Hide
          </label>
        </div>
      </div>
    </div>
  </div>
  <script>
  const electron = require('electron');
  const Lazy = require('lazy.js');

  window.jQuery = window.$ = require('jquery');
  require('bootstrap');

  $(function(){

    $('head').append(electron.ipcRenderer.sendSync('get-component', 'titleize.html'));

    electron.ipcRenderer.on('set-data', (e, data) => {
      window.session = {data: data};
    });

    electron.ipcRenderer.on('update-node-clusters', (e, data) => {
      let n = session.data.nodes.length;
      for(let i = 0; i < n; i++) session.data.nodes[i].cluster = data[i];
      drawGraph();
    });

    electron.ipcRenderer.on('update-node-selections', (e, data) => {
      let n = session.data.nodes.length;
      for(let i = 0; i < n; i++) session.data.nodes[i].selected = data[i];
      drawGraph();
    });

    electron.ipcRenderer.on('update-node-visibilities', (e, data) => {
      let n = session.data.nodes.length;
      for(let i = 0; i < n; i++) session.data.nodes[i].visible = data[i];
      drawGraph();
    });

    electron.ipcRenderer.send('get-data');
  });

  </script>
  </body>
</html>
