<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MicrobeTrace - Filters</title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <style>
#main_panel{
  padding: 10px;
}
  </style>
</head>
<body>
  <div id="main_panel">
    <div class="row">
      <div class="col-xs-3"><strong>Property</strong></div>
      <div class="col-xs-3"><strong>Variable</strong></div>
      <div class="col-xs-6"><strong>Value</strong></div>
    </div>
    <div class="row">
      <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="By what variable would you like to prune links from the network?">Pruning</a></div>
      <div class="col-xs-3"><select id="linkSortVariable" class="linkVariables numeric"><option value="distance">Distance</option></select></div>
      <div class="col-xs-6"><a href="#" data-toggle="tooltip" title="What's the maximum genetic distance you're willing to call a link?"><input type="number" id="default-link-threshold" value="0.015" step="0.001" /></a></div>
    </div>
    <div class="row">
      <div class="col-xs-3">MST</div>
      <div class="col-xs-3">
        <button id="computeMST" class="btn btn-default btn-xs showForNotMST">Compute MST</button>
      </div>
      <div class="col-xs-6">
        <div class="btn-group btn-group-xs showForMST" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="MSTOptions" id="showAllLinks" autocomplete="off" checked> All
          </label>
          <label class="btn btn-default">
            <input type="radio" name="MSTOptions" id="showMSTLinks" autocomplete="off"> MST
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">Singletons</div>
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="btn-group btn-group-xs" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="singletons" id="ShowSingletons" autocomplete="off" checked> Show
          </label>
          <label class="btn btn-default">
            <input type="radio" name="singletons" id="HideSingletons" autocomplete="off"> Hide
          </label>
        </div>
      </div>
    </div>
  </div>
  <script>
  const electron = require('electron');
  const Lazy = require('lazy.js');

  window.jQuery = window.$ = require('jquery');
  require('bootstrap');

  $(function(){

    $('head').append(electron.ipcRenderer.sendSync('get-component', 'titleize.html'));

    electron.ipcRenderer.on('set-data', (e, data) => {
      window.session = {
        data: data,
        state: {
          visible_clusters: []
        }
      };
      tagClusters(); //You need the first call to tagClusters to be able to setNodeVisibility.
      setNodeVisibility();
      setLinkVisibility();
      computeDegree();
    });

    function setLinkVisibility(){
      let metric  = $('#linkSortVariable').val(),
          threshold = $('#default-link-threshold').val();
      session.data.links.forEach(link => link.visible = true);
      if(metric !== 'none'){
        session.data.links.forEach(link => link.visible = link.visible && (link[metric] <= threshold));
      }
      if($('#showMSTLinks').is(':checked')){
        session.data.links.forEach(link => link.visible = link.visible && link.mst);
      }
      if(session.state.visible_clusters.length < session.data.clusters.length){
        session.data.links.forEach(link => link.visible = link.visible && session.state.visible_clusters.includes(link.cluster));
      }
      electron.ipcRenderer.send('update-link-visibilities', session.data.links.map(l => l.visible));
    }

    function tagClusters(){
      session.data.clusters = [];
      session.data.nodes.forEach(node => delete node.cluster);
      session.data.nodes.forEach(node => {
        if(typeof node.cluster === 'undefined'){
          session.data.clusters.push({
            id: session.data.clusters.length,
            nodes: 0,
            links: 0,
            sum_distances: 0,
            visible: true
          });
          DFS(node);
        }
      });
      session.state.visible_clusters = session.data.clusters.map(c => c.id);
      electron.ipcRenderer.send('update-node-clusters', session.data.nodes.map(d => d.cluster));
    }

    function DFS(node){
      if(typeof node.cluster !== 'undefined') return;
      let lsv = $('#linkSortVariable').val();
      node.cluster = session.data.clusters.length;
      session.data.clusters[session.data.clusters.length - 1].nodes++;
      session.data.links.forEach(l => {
        if(l.visible && (l.source.id == node.id || l.target.id == node.id)){
          l.cluster = session.data.clusters.length;
          session.data.clusters[session.data.clusters.length - 1].links++;
          session.data.clusters[session.data.clusters.length - 1].sum_distances += l[lsv];
          if(!l.source.cluster) DFS(l.source);
          if(!l.target.cluster) DFS(l.target);
        }
      });
    }

    function computeDegree(){
      session.data.nodes.forEach(d => d.degree = 0);
      session.data.links
        .filter(l => l.visible)
        .forEach(l => {
          l.source.degree++;
          l.target.degree++;
        });
      session.data.clusters.forEach(c => {
        c.links = c.links/2;
        c.links_per_node = c.links/c.nodes;
        c.mean_genetic_distance = c.sum_distances/c.links;
      });
      electron.ipcRenderer.send('update-clusters', session.data.clusters);
      electron.ipcRenderer.send('update-node-degrees', session.data.nodes.map(d => d.degree));
    }

    function setNodeVisibility(){
      session.data.nodes.forEach(n => n.visible = true);
      if(session.state.visible_clusters.length < session.data.clusters.length){
        session.data.nodes.forEach(n => n.visible = n.visible && session.state.visible_clusters.includes(n.cluster));
      }
      if($('#HideSingletons').is(':checked')){
        let clusters = session.data.clusters.map(c => c.nodes);
        session.data.nodes.forEach(n => n.visible = n.visible && clusters[n.cluster-1] > 1);
      }
      electron.ipcRenderer.send('update-node-visibilities', session.data.nodes.map(d => d.visible));
    }

    $('#linkSortVariable').on('change', e => {
      if(e.target.value === 'none'){
        $('#computeMST').fadeOut();
        $('#default-link-threshold').css('visibility', 'hidden');
      } else {
        //$('#default-link-threshold').attr('step', math.meanAbsoluteDeviation(session.data.links.map(l => l[e.target.value])));
        $('#computeMST').css('display', 'inline-block');
        $('#default-link-threshold').css('visibility', 'visible');
      }
    });

    $('#default-link-threshold').on('input', e => {
      setLinkVisibility();
      tagClusters();
      if($('#HideSingletons').is(':checked')) setNodeVisibility();
      computeDegree();
    });

    $('#computeMST').click(e => {
      electron.ipcRenderer.send('compute-mst');
      $('.showForNotMST').fadeOut();
    });

    $('#showMSTLinks, #showAllLinks').change(e => {
      setLinkVisibility();
      tagClusters();
      if($('#HideSingletons').is(':checked')) setNodeVisibility();
      computeDegree();
    });

    $('#ShowSingletons, #HideSingletons').change(e => {
      tagClusters();
      setNodeVisibility();
      computeDegree();
    });

    electron.ipcRenderer.on('update-links-mst', (e, msts) => {
      let n = msts.length;
      for(let i = 0; i < n; i++) session.data.links[i].mst = msts[i];
      $('.showForMST').css('opacity', 0).css('display', 'inline-block').animate({'opacity': 1});
    });

    electron.ipcRenderer.send('get-data');
  });

  </script>
  </body>
</html>
