<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MicrobeTrace - Histogram</title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>
<body>
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Histogram Settings</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#histogramConfigurations" aria-controls="histogramConfigurations" role="tab" data-toggle="tab">Histogram</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="histogramConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="Which axis should the histogram be drawn across?">Axis</a></div>
                  <div class="col-xs-9">
                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                      <label class="btn btn-default active">
                        <input type="radio" name="axis" id="xAxis" autocomplete="off" checked> X
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="axis" id="yAxis" autocomplete="off"> Y
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="Which dataset should the histogram be drawn from?">Dataset</a></div>
                  <div class="col-xs-9">
                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                      <label class="btn btn-default active">
                        <input type="radio" name="set" id="vislinks" autocomplete="off" checked> Visible Links
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="set" id="alllinks" autocomplete="off"> All Links
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="Which variable should the histogram be drawn from?">Variable</a></div>
                  <div class="col-xs-9"><select id="variable"><option selected>distance</option></select></div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="Should the y-axis show a linear or logarithmic scale?">Scale</a></div>
                  <div class="col-xs-9">
                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                      <label class="btn btn-default active">
                        <input type="radio" name="scale" id="linearScale" autocomplete="off" checked> Linear
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="scale" id="logScale" autocomplete="off"> Log
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="What color should the histogram be?">Color</a></div>
                  <div class="col-xs-9"><input type="color" id="color" value="#5656ff" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="main_panel"></div>
  <script>
  const electron = require('electron');
  window.jQuery = window.$ = require('jquery');
  require('bootstrap');
  const Plotly = require('@nteract/plotly');
  const alertify = require('alertifyjs');

  $(function(){

    $('head').append(electron.ipcRenderer.sendSync('get-component', 'titleize.html'));
    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('body').append(electron.ipcRenderer.sendSync('get-component', 'exportRasterImage.html'));

    electron.ipcRenderer.on('update-link-visibilities', (e, newLinks) => {
      let n = newLinks.length;
      for(let i = 0; i < n; i++){
        session.data.links[i].visible = newLinks[i];
      }
      redraw();
    });

    electron.ipcRenderer.on('set-data', (e, data) => {
      window.session = {data: data};
      let links = data.links;
      $('#variable').html(data.linkFields.map(key => '<option>' + key + '</option>').join('\n'));
      $('#variable').val('distance');
      redraw();
    });
    electron.ipcRenderer.send('get-data');

    function redraw(){
      if(window.plot) Plotly.purge('main_panel');
      let varName = $('#variable').val();
      let visible = $('#vislinks').is(':checked');
      let axis = $('#xAxis').is(':checked') ? 'x' : 'y';
      let nonaxis = $('#yAxis').is(':checked') ? 'x' : 'y';
      let data = {
        type: 'histogram',
        marker: {
          color: $('#color').val(),
        }
      };
      data[axis] = session.data.links.filter(l => !visible || l.visible).map(l => l[varName]);
      let layout = {};
      layout[axis + 'axis'] = {
        title: titleize(varName)
      }
      layout[nonaxis + 'axis'] = {
        title: 'Number of Nodes',
        type: $('#logScale').is(':checked') ? 'log' : ''
      };
      window.plot = Plotly.newPlot('main_panel', [data], layout, {
        displaylogo: false,
        displayModeBar: false
      });
      $(window).on('resize', e => {
        Plotly.relayout('main_panel', {
          width: $('#main_panel').width(),
          height: $('#main_panel').height()
        });
      });
    }

    $('#alllinks, #vislinks, #logScale, #linearScale, #xAxis, #yAxis').change(redraw);
    $('#variable, #color').change(redraw);
  });
  </script>
</body>
</html>
