<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MicrobeTrace - Map</title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <style>
    svg {
      background: #9bbff4;
    }
    #countries, #states, #counties {
      fill: #bbdaa4;
      stroke: #666666;
    }
  </style>
</head>
<body>
  <table id="groupKey"></table>
  <span id="tooltip"></span>
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Map Settings</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#dataConfigurations" aria-controls="dataConfigurations" role="tab" data-toggle="tab">Data</a></li>
            <li role="presentation"><a href="#nodeConfigurations" aria-controls="nodeConfigurations" role="tab" data-toggle="tab">Nodes</a></li>
            <li role="presentation"><a href="#mapConfigurations" aria-controls="nodeConfigurations" role="tab" data-toggle="tab">Map</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="dataConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Latitude</div>
                  <div class="col-xs-9">
                    <select id="latitudeField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Longitude</div>
                  <div class="col-xs-9">
                    <select id="longitudeField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Zipcode</div>
                  <div class="col-xs-9">
                    <select id="zipcodeField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">County</div>
                  <div class="col-xs-9">
                    <select id="countyField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">State</div>
                  <div class="col-xs-9">
                    <select id="stateField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Country</div>
                  <div class="col-xs-9">
                    <select id="countryField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="nodeConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Radius</div>
                  <!--td>
                    <select id="radiusField" class="fields">
                      <option selected>None</option>
                    </select>
                  </td-->
                  <div class="col-xs-9">
                    <input type="range" id="radius" min="1" max="30" step="0.1" value="6" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Color</div>
                  <div class="col-xs-9">
                    <select id="nodeColorField" class="fields">
                      <option selected>None</option>
                    </select>
                    <input type="color" id="color" value="#5656ff" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Transparency</div>
                  <div class="col-xs-9">
                    <!--select id="opacityField" class="fields">
                      <option selected>None</option>
                    </select-->
                    <input type="range" id="opacity" min="0.00" max="1.00" step="0.01" value="1.00" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Jitter</div>
                  <div class="col-xs-9">
                    <input type="range" id="jitter" min="0.00" max="100" step="0.5" value="0.00" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Tooltip</div>
                  <div class="col-xs-9">
                    <select id="nodeTooltipVariable" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="mapConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Layers</div>
                  <div class="col-xs-9">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="button" id="showStates" aria-pressed="false" autocomplete="off">States</button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="button" id="showCounties" aria-pressed="false" autocomplete="off">Counties</button>
                    <button type="button" class="btn btn-default btn-xs active" data-toggle="button" id="showCities" aria-pressed="true" autocomplete="off">Cities</button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="button" id="showLinks" aria-pressed="false" autocomplete="off">Links</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Land Color</div>
                  <div class="col-xs-9">
                    <input type="color" id="landColor" value="#bbdaa4" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Water Color</div>
                  <div class="col-xs-9">
                    <input type="color" id="waterColor" value="#9bbff4" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div id="main_panel"></div>
  <script>
  const electron = require('electron');
  const Lazy = require('lazy.js');
  const d3 = require('d3');

  window.jQuery = window.$ = require('jquery');
  require('bootstrap');

  //TODO: Get rid of some of these globals!
  var countries, states, counties, cities, zipcodes, projection, path, svg;

  $(function(){

    $('head').append(electron.ipcRenderer.sendSync('get-component', 'titleize.html'));
    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('body').append(electron.ipcRenderer.sendSync('get-component', 'exportRasterImage.html'));

    projection = d3.geoMercator();

    path = d3.geoPath().projection(projection);

    svg = d3.select('#main_panel').append('svg');

    lastTransform = {k:1, x:0, y:0};

    svg.call(d3.zoom().on('zoom', () => {
      lastTransform = Object.assign({}, d3.event.transform);
      let radius = parseFloat($('#radius').val());
      svg.selectAll('g#countries, g#states, g#counties, g#nodes, g#links, g#cities').attr('transform', d3.event.transform);
      svg.selectAll('g#countries, g#states, g#counties').selectAll('path').attr('stroke-width', 1 / lastTransform.k);
      svg.selectAll('g#nodes').selectAll('circle').attr('r', radius / lastTransform.k);
      svg.selectAll('g#links').selectAll('line').attr('stroke-width', 2 / lastTransform.k);
    }));

    countryLayer = svg.append('g').attr('id', 'countries');
    stateLayer   = svg.append('g').attr('id', 'states');
    countyLayer  = svg.append('g').attr('id', 'counties');
    cityLayer    = svg.append('g').attr('id', 'cities');
    linkLayer    = svg.append('g').attr('id', 'links');
    nodeLayer    = svg.append('g').attr('id', 'nodes');

    electron.ipcRenderer.on('set-data', (e, data) => {
      window.session = {data: data};
      let fields = session.data.nodeFields;
      $('.fields').append(fields.map(field => `<option value="${field}">${titleize(field)}</option>`).join('\n'));
      if(fields.includes('lat')) $('#latitudeField').val('lat');
      if(fields.includes('lon')) $('#longitudeField').val('lon');
      if(fields.includes('zipcode')) $('#zipcodeField').val('zipcode');
      if(fields.includes('county')) $('#countyField').val('county');
      if(fields.includes('state')) $('#stateField').val('state');
      if(fields.includes('country')) $('#countryField').val('country');
      if(fields.includes('id')) $('#nodeTooltipVariable').val('id');
      matchCoordinates();
      let radius = parseFloat($('#radius').val()) / lastTransform.k;
      let color = $('#color').val();
      nodeLayer.selectAll('circle')
        .attr('r',  radius)
        .style('fill', color)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
      redrawNodes();
      $('#settingsModal').modal('show');
    });

    function matchCoordinates(){
      if($('#countryField').val() !== 'None'){
        if(!countries) countries = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'countries.json'));
        let val = $('#countryField').val();
        session.data.nodes.forEach(n => {
          let country = countries.features.find(c => c.id == n[val] || c.properties.name == n[val] || c.properties.country == n[val] || c.properties.ccode == n[val]);
          if(country) Object.assign(n, country.properties);
        });
      }
      if($('#stateField').val() !== 'None'){
        if(!states) states = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'states.json'));
        let sval = $('#stateField').val();
        session.data.nodes.forEach(n => {
          let state = states.features.find(s => s.properties.usps == n[sval] || s.properties.name == n[sval]);
          if(state) Object.assign(n, state.properties);
        });
        // Counties is nested in states because Counties are typically reported by name (rather than a UID like FIPS code),
        // but counties names are non-unique (e.g. there are 31 Washington Counties). Accordingly, if we have a state and a county,
        // We can use county. However, we cannot use county without state.
        if($('#countyField').val() !== 'None'){
          if(!counties) counties = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'counties.json'));
          let cval = $('#countyField').val();
          session.data.nodes.forEach(n => {
            let state = states.features.find(s => s.properties.usps == n[sval] || s.properties.name == n[sval]);
            let county = counties.features.find(c => c.name == n[cval] && c.state == state.properties.usps);
            if(county) Object.assign(n, county.properties);
          });
        }
      }
      if($('#zipcodeField').val() !== 'None'){
        if(!zipcodes) zipcodes = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'zipcodes.json'));
        let val = $('#zipcodeField').val();
        session.data.nodes.forEach(n => {
          let zo = zipcodes.find(z => z.zipcode == n[val]);
          if(zo) Object.assign(n, zo);
        });
      }
      if($('#latitudeField').val() !== 'None' && $('#longitudeField').val() !== 'None'){
        let lat = $('#latitudeField').val(),
            lon = $('#longitudeField').val();
        session.data.nodes.forEach(n => {
          if(typeof n[lat] == 'string'){
            n.lat = (n[lat].includes('S') ? -1 : 1) * parseFloat(n[lat]);
          } else {
            n.lat = n[lat];
          }
          if(typeof n[lon] == 'string'){
            n.lon = (n[lon].includes('W') ? -1 : 1) * parseFloat(n[lon]);
          } else {
            n.lon = n[lon];
          }
        });
      }
      nodeLayer.selectAll('circle').data(session.data.nodes.filter(d => d.lat && d.lon)).enter().append('circle');
    }

    function showToolTip(d){
      let tooltiptext = '';
      if(d.properties) tooltiptext = d.properties.name;
      else if($('#nodeTooltipVariable').val() !== 'None' && d[$('#nodeTooltipVariable').val()]) tooltiptext = d[$('#nodeTooltipVariable').val()];
      d3.select('#tooltip')
        .html(tooltiptext)
        .style('left', (d3.event.pageX + 8) + 'px')
        .style('top', (d3.event.pageY + 18) + 'px')
        .transition().duration(100)
        .style('opacity', 1);
    }

    function hideTooltip(){
      let tooltip = d3.select('#tooltip');
      tooltip
        .transition().duration(100)
        .style('opacity', 0)
        .on('end', () => tooltip.style('right', '0px').style('top', '0px'));
    }

    function drawCountries(){
      if(!countries) countries = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'countries.json'));
      countryWrappers = countryLayer.selectAll('path').data(countries.features).enter().append('path')
        .attr('d', path)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
      countryLayer.transition().style('opacity', 1);
    }

    function drawStates(){
      if(!states) states = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'states.json'));
      stateLayer.selectAll('path').data(states.features).enter().append('path')
        .attr('d', path)
        .attr('stroke-width', 1 / lastTransform.k)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
      stateLayer.transition().style('opacity', 1);
    }

    function drawCounties(){
      if(!counties) counties = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'counties.json'));
      countyLayer.selectAll('path').data(counties.features).enter().append('path')
        .attr('d', path)
        .attr('stroke-width', 1 / lastTransform.k)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
      countyLayer.transition().style('opacity', 1);
    }

    function drawCities(){
      if(!cities) cities = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'cities.json'));
      cityWrappers = cityLayer
        .style('opacity', 0)
        .selectAll('g').attr('class', 'city')
        .data(window.cities).enter().append('g');
      cityWrappers.append('circle')
        .attr('cx', d => projection([d['Longitude'], d['Latitude']])[0])
        .attr('cy', d => projection([d['Longitude'], d['Latitude']])[1])
        .attr('r', d => d['sqrtpop'])
        .style('fill', 'black')
        .style('opacity', .3);
      cityWrappers.append('text').text(d => d['name'])
        .attr('dx', d => projection([d['Longitude'], d['Latitude']])[0] + d['sqrtpop']/2 + 1.2)
        .attr('dy', d => projection([d['Longitude'], d['Latitude']])[1] + .7)
        .style('fill', 'black')
        .attr('font-size', 2);
      cityLayer.transition().style('opacity', 1);
    }

    var normal = d3.randomNormal();

    function redrawNodes(){
      let jitter = parseFloat($('#jitter').val()) / lastTransform.k;
      session.data.nodes.forEach(d => {
        d.jx = normal() * jitter;
        d.jy = normal() * jitter;
      });
      nodeLayer
        .selectAll('circle').data(session.data.nodes.filter(d => d.lon && d.lat))
        .attr('cx', d => projection([d.lon, d.lat])[0] + d.jx)
        .attr('cy', d => projection([d.lon, d.lat])[1] + d.jy);
    }

    function drawLinks(){
      if(!$('#showLinks').hasClass('active')) return;
      session.data.links.forEach(l => {
        if(typeof l.source !== 'object') l.source = session.data.nodes.find(d => d.id === l.source);
        if(typeof l.target !== 'object') l.target = session.data.nodes.find(d => d.id === l.target);
      });
      let vlinks = session.data.links.filter(l => l.visible);
      let ll = linkLayer.selectAll('line').data(vlinks);
      ll.exit().remove();
      ll.enter().append('line').merge(ll)
        .attr('class', 'link')
        .style('stroke', '#ff0000')
        .attr('stroke-width', 2 / lastTransform.k)
        .attr('x1', d => projection([d.source.lon, d.source.lat])[0] + d.source.jx)
        .attr('y1', d => projection([d.source.lon, d.source.lat])[1] + d.source.jy)
        .attr('x2', d => projection([d.target.lon, d.target.lat])[0] + d.target.jx)
        .attr('y2', d => projection([d.target.lon, d.target.lat])[1] + d.target.jy);
      linkLayer.transition().style('opacity', 1);
    }

    $('.fields').change(e => {
      matchCoordinates();
      redrawNodes();
      drawLinks();
    });

    $('#showStates').click(function(e){
      if(!$(this).hasClass('active')){
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 0);
        drawStates();
      } else {
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 1);
        stateLayer.transition().style('opacity', 0).on('end', e => stateLayer.html(null));
      }
    });

    $('#showCounties').click(function(e){
      if(!$(this).hasClass('active')){
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 0);
        drawCounties();
      } else {
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 1);
        countyLayer.transition().style('opacity', 0).on('end', e => countyLayer.html(null));
      }
    });

    $('#showCities').click(function(e){
      if(!$(this).hasClass('active')){
        drawCities();
      } else {
        cityLayer.transition().style('opacity', 0).on('end', e => cityLayer.html(null));
      }
    });

    $('#showLinks').click(function(e){
      if(!$(this).hasClass('active')){
        drawLinks();
      } else {
        linkLayer.transition().style('opacity', 0).on('end', e => linkLayer.html(null));
      }
    });

    $('#radius').on('input', e => nodeLayer.selectAll('circle').attr('r', e.target.value / lastTransform.k));

    $('#color').on('input', e => nodeLayer.selectAll('circle').style('fill', e.target.value));

    $('#jitter').on('input', e => {
      redrawNodes();
      drawLinks();
    });

    $('#nodeColorField').change(e => {
      let circles = svg.select('g#nodes').selectAll('circle').data(session.data.nodes);
      let table = $('#groupKey').empty();
      if(e.target.value == 'none'){
        circles.style('fill', $('#color').val());
        table.fadeOut();
        return;
      }
      table.append('<tr><th>'+e.target.value+'</th><th>Color</th></tr>');
      let values = Lazy(session.data.nodes).pluck(e.target.value).uniq().sort().toArray();
      let colors = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'colors.json'));
      let o = d3.scaleOrdinal(colors).domain(values);
      circles.style('fill', d => o(d[e.target.value]));
      values.forEach(value => {
        let input = $('<input type="color" value="'+o(value)+'" />')
          .on('input', evt => {
            circles
              .filter(d => d[e.target.value] == value)
              .style('fill', d => evt.target.value);
          });
        let cell = $('<td></td>').append(input);
        let row = $('<tr><td>'+value+'</td></tr>').append(cell);
        table.append(row);
      });
      table.fadeIn();
    });

    $('#opacity').on('input', e => svg.selectAll('circle').attr('opacity', e.target.value));

    $('#landColor').on('input', e => svg.selectAll('path').attr('fill', e.target.value));

    $('#waterColor').on('input', e => svg.style('background', e.target.value));

    electron.ipcRenderer.on('update-link-visibility', (e, newLinks) => {
      session.data.links.forEach((l, i) => l.visible = newLinks[i].visible);
      drawLinks();
    });

    drawCountries();
    drawCities();

    electron.ipcRenderer.send('get-data');
  });

  </script>
  </body>
</html>
