<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <style>
    svg {
      fill: #9bbff4;
    }
    #countries, #states, #counties {
      fill: #bbdaa4;
      stroke: #666666;
    }
  </style>
</head>
<body>
  <table id="groupKey"></table>
  <span id="tooltip"></span>
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Map Options</h4>
        </div>
        <div class="modal-body panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Data</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Latitude</td>
                    <td>
                      <select id="latitudeField" class="fields">
                        <option selected>None</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Longitude</td>
                    <td>
                      <select id="longitudeField" class="fields">
                        <option selected>None</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Zipcode</td>
                    <td>
                      <select id="zipcodeField" class="fields">
                        <option selected>None</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>County</td>
                    <td>
                      <select id="countyField" class="fields">
                        <option selected>None</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>State</td>
                    <td>
                      <select id="stateField" class="fields">
                        <option selected>None</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Country</td>
                    <td>
                      <select id="countryField" class="fields">
                        <option selected>None</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Nodes</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Radius</td>
                    <!--td>
                      <select id="radiusField" class="fields">
                        <option selected>None</option>
                      </select>
                    </td-->
                    <td>
                      <input type="range" id="radius" min="1" max="30" step="0.1" value="6" />
                    </td>
                  </tr>
                  <tr>
                    <td>Color</td>
                    <td>
                      <select id="nodeColorField" class="fields">
                        <option selected>None</option>
                      </select>
                      <input type="color" id="color" value="#0000ff" />
                    </td>
                  </tr>
                  <tr>
                    <td>Transparency</td>
                    <td>
                      <!--select id="opacityField" class="fields">
                        <option selected>None</option>
                      </select-->
                      <input type="range" id="opacity" min="0.00" max="1.00" step="0.01" value="1.00" />
                    </td>
                  </tr>
                  <tr>
                    <td>Jitter</td>
                    <td>
                      <input type="range" id="jitter" min="0.00" max="30" step="0.1" value="0.00" />
                    </td>
                  </tr>
                  <tr>
                    <td>Tooltip</td>
                    <td>
                      <select id="nodeTooltipVariable" class="fields">
                        <option selected>None</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">Map</a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Layers</td>
                    <td>
                      <button type="button" class="btn btn-default btn-xs" data-toggle="button" id="showStates" aria-pressed="false" autocomplete="off">States</button>
                      <button type="button" class="btn btn-default btn-xs" data-toggle="button" id="showCounties" aria-pressed="false" autocomplete="off">Counties</button>
                      <button type="button" class="btn btn-default btn-xs active" data-toggle="button" id="showCities" aria-pressed="true" autocomplete="off">Cities</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Land Color</td>
                    <td>
                      <input type="color" id="landColor" value="#bbdaa4" />
                    </td>
                  </tr>
                  <tr>
                    <td>Water Color</td>
                    <td>
                      <input type="color" id="waterColor" value="#9bbff4" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div id="main_panel"></div>
  <script>
  const electron = require('electron');
  const Lazy = require('lazy.js');
  const d3 = require('d3');
  const Papa = require('papaparse');

  window.jQuery = window.$ = require('jquery');
  require('bootstrap');

  var countries, states, counties, cities, zipcodes, projection, path, zoom, svg, g;

  $(function(){

    electron.ipcRenderer.on('deliver-manifest', (e, manifest) => {
      $('title').text(manifest.productName + ' v. ' + manifest.version);
      $('#AppName').html('<a href="#">'+manifest.productName+'</a>');
      $('#AppVersion').html('<a href="#">'+manifest.version+'</a>');
    });
    electron.ipcRenderer.send('get-manifest');

    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('body').append(electron.ipcRenderer.sendSync('get-component', 'exportRasterImage.html'));

    electron.ipcRenderer.on('deliver-nodes', (e, nodes) => {
      window.nodes = nodes;
      var fields = Object.keys(window.nodes[0]);
      $('.fields').append(fields.map(field => '<option value="'+field+'">'+field+'</option>').join('\n'));
      if(fields.includes('lat')) $('#latitudeField').val('lat');
      if(fields.includes('lon')) $('#longitudeField').val('lon');
      if(fields.includes('zipcode')) $('#zipcodeField').val('zipcode');
      if(fields.includes('county')) $('#countyField').val('county');
      if(fields.includes('state')) $('#stateField').val('state');
      if(fields.includes('country')) $('#countryField').val('country');
      if(fields.includes('id')) $('#nodeTooltipVariable').val('id');
      matchCoordinates();
      $('#settingsModal').modal('show');
    });

    var width = $(window).width(),
        height = $(window).height();

    projection = d3.geoMercator();

    path = d3.geoPath().projection(projection);

    svg = d3.select('#main_panel').append('svg')
        .attr('width', width)
        .attr('height', height)

    lastTransform = {};

    zoom = d3.zoom().on('zoom', () => {
      g.selectAll('g#countries, g#states, g#counties, g#nodes, g#cities').attr('transform', d3.event.transform);
      g.selectAll('g#countries, g#states, g#counties').selectAll('path').attr('stroke-width', 1 / d3.event.transform.k);
      g.selectAll('g#nodes').selectAll('circle').attr('r', $('#radius').val() / d3.event.transform.k);
      lastTransform = Object.assign({}, d3.event.transform);
    });

    g = svg.append('g').attr('id', 'zoomLayer').call(zoom);

    g.append('rect')
      .attr('class', 'background')
      .attr('width', width)
      .attr('height', height);

    countryLayer = g.append('g').attr('id', 'countries');
    stateLayer   = g.append('g').attr('id', 'states');
    countyLayer  = g.append('g').attr('id', 'counties');
    cityLayer    = g.append('g').attr('id', 'cities');
    nodeLayer    = g.append('g').attr('id', 'nodes');

    function showRegionToolTip(d){
      var tooltiptext = d.properties.name;
      if(!tooltip && $('#nodeTooltipVariable').val() !== 'None') tooltiptext = d[$('#nodeTooltipVariable').val()];
      d3.select('#tooltip')
        .html(tooltiptext)
        .style('left', (d3.event.pageX + 8) + 'px')
        .style('top', (d3.event.pageY + 18) + 'px')
        .transition().duration(100)
        .style('opacity', 1);
    }

    function showNodeToolTip(d){
      if($('#nodeTooltipVariable').val() == 'none') return;
      d3.select('#tooltip')
        .html(d[$('#nodeTooltipVariable').val()])
        .style('left', (d3.event.pageX + 8) + 'px')
        .style('top', (d3.event.pageY - 28) + 'px')
        .transition().duration(100)
        .style('opacity', 1);
    }

    function hideTooltip(){
      var tooltip = d3.select('#tooltip');
      tooltip
        .transition().duration(100)
        .style('opacity', 0)
        .on('end', () => tooltip.style('right', '0px').style('top', '0px'));
    }

    function drawCountries(){
      if(!countries) countries = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'countries.json'));
      countryWrappers = countryLayer.selectAll('path').data(countries.features).enter().append('path')
        .attr('d', path)
        .on('mouseenter', showRegionToolTip)
        .on('mouseout', hideTooltip);
    }

    function drawStates(){
      if(!states) states = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'states.json'));
      stateLayer.selectAll('path').data(states.features).enter().append('path')
        .attr('d', path)
        .attr('stroke-width', 1 / lastTransform.k)
        .on('mouseenter', showRegionToolTip)
        .on('mouseout', hideTooltip);
      stateLayer.transition().style('opacity', 1);
    }

    function drawCounties(){
      if(!counties) counties = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'counties.json'));
      countyLayer.selectAll('path').data(counties.features).enter().append('path')
        .attr('d', path)
        .attr('stroke-width', 1 / lastTransform.k)
        .on('mouseenter', showRegionToolTip)
        .on('mouseout', hideTooltip);
    }

    function drawCities(){
      if(!cities) cities = d3.csvParse(electron.ipcRenderer.sendSync('get-component', 'cities.csv'));
      cityWrappers = cityLayer
        .style('opacity', 0)
        .selectAll('g').attr('class', 'city')
        .data(window.cities).enter().append('g');
      cityWrappers.append('circle')
        .attr('cx', d => projection([d['Longitude'], d['Latitude']])[0])
        .attr('cy', d => projection([d['Longitude'], d['Latitude']])[1])
        .attr('r', d => d['sqrtpop'])
        .style('fill', 'black')
        .style('opacity', .3);
      cityWrappers.append('text').text(d => d['name'])
        .attr('dx', d => projection([d['Longitude'], d['Latitude']])[0] + d['sqrtpop']/2 + 1.2)
        .attr('dy', d => projection([d['Longitude'], d['Latitude']])[1] + .7)
        .style('fill', 'black')
        .attr('font-size', 2);
      cityLayer.transition().style('opacity', 1);
    }

    function matchCoordinates(){
      if($('#latitudeField').val() !== 'None' && $('#longitudeField').val() !== 'None'){
        //We don't actually need to do anything in this case.
      } else if($('#zipcodeField').val() !== 'None'){
        if(!zipcodes){
          zipcodes = d3.csvParse(electron.ipcRenderer.sendSync('get-component', 'zipcodes.csv'), d => ({
            'zipcode':d.zipcode,
            'name':d.zipcode,
            'lat':+d.lat,
            'lon':+d.lon
          }));
        }
        let val = $('#zipcodeField').val();
        window.nodes.forEach(n => {
          let zo = zipcodes.find(z => z.zipcode == n[val]);
          if(zo) Object.assign(n, zo);
        });
      } else if($('#countyField').val() !== 'None'){
        let val = $('#countyField').val();
        window.nodes.forEach(n => {
          //TODO: Work out the State Problem.
          //TODO: Add Fuzzy String matching.
          let county = counties.find(c => c.name == n[val]);
          if(zo) Object.assign(n, zo);
        });
      } else if($('#stateField').val() !== 'None'){
        var val = $('#stateField').val();
        window.nodes.forEach(n => {
          //TODO: Work out the format problem.
          var state = states.find(s => s.usps == n[val]);
          if(state) Object.assign(n, {lat: state.lat, lon: state.lon});
        });
      } else if($('#countryField').val() !== 'None'){
        var val = $('#countryField').val();
        window.nodes.forEach(n => {
          //TODO: Merge content of countries.csv into countries.json
          //TODO: Work out the format problem.
          var country = countries.find(c => c.name == n[val]);
          if(state) Object.assign(n, {lat: state.lat, lon: state.lon});
        });
      }
      if(window.nodes[0].lat && window.nodes[0].lon) plotPoints();
    }

    function plotPoints(){
      if(window.nodes[0].lat && window.nodes[0].lon){
        nodeLayer
          .selectAll('circle').data(window.nodes).enter()
          .append('circle')
          .attr('cx', d => projection([d.lon, d.lat])[0])
          .attr('cy', d => projection([d.lon, d.lat])[1])
          .attr('r', $('#radius').val())
          .style('fill', $('#color').val())
          .on('mouseenter', showNodeToolTip)
          .on('mouseout', hideTooltip);
      }
    }

    $('#longitudeField, #latitudeField, #countyField, #stateField, #countryField, #zipcodeField').change(plotPoints);

    $('#showStates').click(function(e){
      if(!$(this).hasClass('active')){
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 0);
        drawStates();
      } else {
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 0);
        stateLayer.transition().style('opacity', 0).on('end', e => stateLayer.html(null));
      }
    });

    $('#showCounties').click(function(e){
      if(!$(this).hasClass('active')){
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 0);
        drawCounties();
      } else {
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 1);
        countyLayer.transition().style('opacity', 0).on('end', e => countyLayer.html(null));
      }
    });

    $('#showCities').click(function(e){
      if(!$(this).hasClass('active')){
        drawCities();
      } else {
        cityLayer.transition().style('opacity', 0).on('end', e => cityLayer.html(null));
      }
    });

    $('#radius').on('input', e => nodeLayer.selectAll('circle').attr('r', e.target.value));

    $('#color').on('input', e => nodeLayer.selectAll('circle').style('fill', e.target.value));

    $('#jitter').on('input', e => {
      nodeLayer.selectAll('circle')
        .attr('cx', d => projection([d.lon, d.lat])[0] + (Math.random()*2-1)*e.target.value)
        .attr('cy', d => projection([d.lon, d.lat])[1] + (Math.random()*2-1)*e.target.value);
    });

    $('#nodeColorField').change(e => {
      var circles = g.select('g#nodes').selectAll('circle').data(window.nodes);
      var table = $('#groupKey').empty();
      if(e.target.value == 'none'){
        circles.style('fill', $('#color').val());
        table.fadeOut();
        return;
      }
      table.append('<tr><th>'+e.target.value+'</th><th>Color</th><tr>');
      var values = Lazy(window.nodes).pluck(e.target.value).uniq().sort().toArray();
      var o = d3.scaleOrdinal(d3.schemeCategory10).domain(values);
      circles.style('fill', d => o(d[e.target.value]));
      values.forEach(value => {
        var input = $('<input type="color" value="'+o(value)+'" />')
          .on('input', evt => {
            circles
              .filter(d => d[e.target.value] == value)
              .style('fill', d => evt.target.value);
          });
        var cell = $('<td></td>').append(input);
        var row = $('<tr><td>'+value+'</td></tr>').append(cell);
        table.append(row);
      });
      table.fadeIn();
    });

    $('#opacity').on('input', e => svg.selectAll('circle').attr('opacity', e.target.value));

    $('#landColor').on('input', e => svg.selectAll('path').attr('fill', e.target.value));

    $('#waterColor').on('input', e => svg.style('fill', e.target.value));

    drawCountries();
    drawCities();

    electron.ipcRenderer.send('get-nodes');
  });

  </script>
  </body>
</html>
