<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/font-awesome.css" />
  <link rel="stylesheet" href="../css/phylotree.css" />
  <link rel="stylesheet" href="../css/alertify.min.css" />
  <link rel="stylesheet" href="../stylesheets/main.css" />
  <style>
html, body{
  overflow: auto;
}
#main_panel{
  padding-top: 10px;
}
.fa-rotate-45 {
  transform: rotate(45deg);
}
.fa-rotate-135 {
  transform: rotate(135deg);
}
  </style>
</head>
<body>
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Distance Matrix Configuration</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-direction="vertical" data-amount="1" title="Expand vertical spacing">
                <i class="fa fa-arrows-v"></i>
            </button>
             <button type="button" class="btn btn-default btn-sm" data-direction="vertical" data-amount="-1" title="Compress vertical spacing">
                <i class="fa  fa-compress fa-rotate-135"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" data-direction="horizontal" data-amount="1" title="Expand horizonal spacing">
                <i class="fa fa-arrows-h"></i>
            </button>
             <button type="button" class="btn btn-default btn-sm" data-direction="horizontal" data-amount="-1" title="Compress horizonal spacing">
                <i class="fa fa-compress fa-rotate-45"></i>
            </button>
             <button type="button" class="btn btn-default btn-sm" id="sort_ascending" title="Sort deepest clades to the bototm">
                <i class="fa fa-sort-amount-asc"></i>
            </button>
             <button type="button" class="btn btn-default btn-sm" id="sort_descending" title="Sort deepsest clades to the top">
                <i class="fa fa-sort-amount-desc"></i>
            </button>
             <button type="button" class="btn btn-default btn-sm" id="sort_original" title="Restore original order">
                <i class="fa fa-sort"></i>
            </button>
          </div>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active btn-sm">
              <input type="radio" name="options" class="phylotree-layout-mode" data-mode="linear" autocomplete="off" checked title="Layout left-to-right"> Linear
            </label>
            <label class="btn btn-default  btn-sm">
              <input type="radio" name="options" class="phylotree-layout-mode" data-mode="radial" autocomplete="off" title="Layout radially"> Radial
            </label>
          </div>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active btn-sm">
              <input type="radio" class="phylotree-align-toggler" data-align="left" name="options-align" autocomplete="off" checked title="Align tips labels to branches">
                  <i class="fa fa-align-left"></i>
              </input>
            </label>
            <label class="btn btn-default btn-sm">
             <input type="radio" class="phylotree-align-toggler" data-align="right" name="options-align" autocomplete="off" title="Align tips labels to the edge of the plot">
                  <i class="fa fa-align-right"></i>
              </input>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <table id="networkStatistics">
    <tr>
      <td>Selected Branches</td>
      <td id="selected_branch_counter">0</td>
    </tr>
  </table>
  <div id="main_panel"></div>

  <script>
  const electron = require('electron');
  const _ = require('underscore');
  const nj = require('neighbor-joining');
  window.jQuery = window.$ = require('jquery');
  require('bootstrap');
  var d3 = require('../vendor/d3v3.js');
  require('../vendor/phylotree.js');
  const alertify = require('alertifyjs');

  $(function(){
    electron.ipcRenderer.on('deliver-manifest', (e, manifest) => {
      $('title').text(manifest.productName + ' v' + manifest.version);
    });
    electron.ipcRenderer.send('get-manifest');

    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('body').append( electron.ipcRenderer.sendSync('get-component', 'exportRasterImage.html'));

    electron.ipcRenderer.send('get-data');
    electron.ipcRenderer.on('deliver-data', (e, data) => {
      var taxa = data.nodes.map(d => ({
        name: d.id,
        genotype: d.id
      }));
      var RNJ = new nj.RapidNeighborJoining(data.distance_matrix, taxa);
      RNJ.run();
      tree(RNJ.getAsNewick()).svg(svg).layout();
      tree.branch_length(null);
      tree.branch_name(null);
      tree.node_span('equal');
      tree.options({'draw-size-bubbles' : false}, false);
      tree.style_nodes(node_colorizer);
      tree.style_edges(edge_colorizer);
      tree.selection_label(current_selection_name);
    });

    var width  = $('#main_panel').width(),
        height = $('#main_panel').height(),
        selection_set = ['Foreground'],
        current_selection_id = 0,
        color_scheme = d3.scale.category10();

    var tree = d3.layout.phylotree('body')
      .size([height, width])
      .separation((a,b) => 0)
      .count_handler(count => $('#selected_branch_counter').text(d => count[current_selection_name]));

    var svg = d3.select('#main_panel').append('svg')
      .attr('width', width)
      .attr('height', height);

    function node_colorizer(element, data){
      try{
        var count_class = 0;
        selection_set.forEach((d,i) => { if(data[d]){count_class ++; element.style('fill', color_scheme(i), i == current_selection_id ?  'important' : null);}});
        if(count_class <= 1){
          if(count_class == 0){
            element.style('fill', null);
          }
        }
      }
      catch(e){}
    }

    function edge_colorizer(element, data){
      try {
        var count_class = 0;
        selection_set.forEach((d,i) => { if(data[d]){count_class ++; element.style('stroke', color_scheme(i), i == current_selection_id ?  'important' : null);}});
        if(count_class > 1){
          element.classed('branch-multiple', true);
        } else if(count_class == 0){
          element
            .style('stroke', null)
            .classed('branch-multiple', false);
        }
      }
      catch(e){}
    }

    function update_selection_names(id, skip_rebuild){
      skip_rebuild = skip_rebuild || false;
      id = id || 0;
      current_selection_name = selection_set[id];
      current_selection_id = id;
      if(!skip_rebuild){
        d3.selectAll('.selection_set').remove();
        d3.select('#selection_name_dropdown')
          .selectAll('.selection_set')
          .data(selection_set)
          .enter().append('li')
            .attr('class', 'selection_set')
            .append('a')
            .attr('href', '#')
            .text(d => d)
            .style('color', (d,i) => color_scheme(i))
            .on('click', (d,i) => update_selection_names(i,true));
      }
      tree.selection_label(selection_set[id]);
    }

    update_selection_names();

    $('[data-direction]').on('click', function(e){
      var which_function = $(this).data('direction') == 'vertical' ? tree.spacing_x : tree.spacing_y;
      which_function(which_function() + (+$(this).data('amount'))).update();
    });

    $('.phylotree-layout-mode').on('change', function(e){
      if($(this).is(':checked')){
        if(tree.radial() != ($(this).data('mode') == 'radial')){
          tree.radial(!tree.radial()).placenodes().update();
        }
      }
    });

    $('.phylotree-align-toggler').on('change', function(e){
      if($(this).is(':checked')){
        if(tree.align_tips($(this).data('align') == 'right')){
          tree.placenodes().update();
        }
      }
    });

    function sort_nodes(asc){
      tree.traverse_and_compute(n => {
        var d = 1;
        if(n.children && n.children.length){
          d += d3.max(n.children, d => d['count_depth']);
        }
        n['count_depth'] = d;
      });
      tree.resort_children((a, b) => (a['count_depth'] - b['count_depth']) * (asc ? 1 : -1));
    }

    $('#sort_original').click(e => tree.resort_children((a,b) => a['original_child_order'] - b['original_child_order']));
    $('#sort_ascending, #sort_descending').click(e => sort_nodes(e.target.id === 'sort_ascending'));

  });
  </script>
</body>
</html>
`
