<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="icon" href="img/image32.ico" />
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="../css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
  <link href="../css/select.bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="../stylesheets/main.css" rel="stylesheet" type="text/css" />
  <style>
    body{
      overflow:auto;
      display:block;
    }
    .dataTables_wrapper{
      padding-top: 1em;
    }
    table{
      width: 100% !important;
      white-space: nowrap;
      table-layout: fixed;
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #node-columns, #link-columns {
      width: 100%;
    }
    .showForMST{
      display: none;
    }
  </style>
</head>
<body>
  <div id="settingsModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Table Options</h4>
        </div>
        <div class="modal-body">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingZero">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                  Table
                </a>
              </div>
              <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Content</td>
                      <td>
                        <div class="btn-group btn-group-xs" data-toggle="buttons">
                          <label class="btn btn-default active">
                            <input type="radio" name="nodelink" id="nodebutton" autocomplete="off" checked="checked"> Nodes
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="nodelink" id="linkbutton" autocomplete="off"> Links
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Text Size</td>
                      <td><input type="range" id="font-size-slider" min="6" value="14" max="72" step="1" /></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Node
                </a>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Columns to Include</td>
                      <td><select id="node-columns" multiple></select></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Link
                </a>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Columns to Include</td>
                      <td><select id="link-columns" multiple></select></td>
                    </tr>
                    <tr class="showForMST">
                      <td>Rows to Include</td>
                      <td>
                        <div class="btn-group btn-group-xs" data-toggle="buttons">
                          <label class="btn btn-default active">
                            <input type="radio" name="MSTAll" id="AllLinks" autocomplete="off" checked> All
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="MSTAll" id="VisLinks" autocomplete="off"> Visible
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="MSTAll" id="MSTLinks" autocomplete="off"> MST
                          </label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="main_panel">
    <table id="table" class="display table" cellspacing="0"></table>
  </div>

  <script type="text/javascript">
  const electron = require('electron');
  var jetpack = require('fs-jetpack');
  window.jQuery = window.$ = require('jquery');
  require('bootstrap');
  require('datatables.net')(window, $);
  require('datatables.net-colreorder')(window, $);
  require('datatables.net-select')(window, $);
  const Baby = require('babyparse');

  const meta = ['seq', 'padding', 'orig', 'mst', 'visible', 'index', 'selected', 'padding'];

  $(function(){

    electron.ipcRenderer.on('deliver-manifest', (e, manifest) => {
      $('title').text(manifest.productName + ' v. ' + manifest.version);
      $('#AppName').html('<a href="#">'+manifest.productName+'</a>');
      $('#AppVersion').html('<a href="#">'+manifest.version+'</a>');
    });
    electron.ipcRenderer.send('get-manifest');

    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('#FileTab').after(
      $('<li id="ExportTab"><a href="#">Export</a></li>').click(() => {
        electron.remote.dialog.showSaveDialog((fileName) => {
          if (fileName === undefined){
            return alertify.error('File not exported!');
          }
          jetpack.write(fileName, Baby.unparse(window.data));
        });
      })
    );

    window.table = {destroy: () => {}};

    function reorder(){
      var order = window.table.order();
      if(window.table.init().orderFixed){
        order = [[window.columns.findIndex(d => d.data == 'selected'), 'desc']].concat(order);
      }
      window.table.order(order).draw(false);
    }

    electron.ipcRenderer.on('update-node-selection', (e, newNodes) => {
      window.table.rows().deselect();
      window.nodes.forEach(d => d.selected = newNodes.find(e => e.id == d.id).selected);
      window.table.rows(window.nodes.filter(n => n.selected).map(n => n.index)).select();
      reorder();
    });

    function updateData(){
      if($('input[name=nodelink]:checked')[0].id === 'linkbutton'){
        var linksubset = $('input[name=MSTAll]:checked')[0].id;
        if(linksubset === 'MSTLinks'){
          window.data = window.links.slice().filter(l => l.mst);
        } else if(linksubset === 'VizLinks') {
          window.data = window.links.slice().filter(l => l.visible);
        } else {
          window.data = window.links.slice();
        }
      } else {
        window.data = window.nodes;
      }
      window.columns = Object.keys(window.data[0])
        .map(k => ({title:k, data:k, mData:k, sTitle:k}));
    }

    function resetTextsize(){
      var s = $('#font-size-slider').val();
      $('#table').css({
        'font-size': s + 'px',
        'line-height': s/10
      });
    }

    function updateTable(){
      updateData();
      window.table.destroy();
      var options = {
        data: window.data,
        columns: window.columns,
        deferRender: true,
        colReorder: true,
        select: {
          style: 'multi'
        }
      };
      var selectedColumnIndex = window.columns.findIndex(d => d.data == 'selected');
      if($('input[name=nodelink]:checked')[0].id === 'nodebutton' && selectedColumnIndex >= 0){
        options.orderFixed = [selectedColumnIndex, 'desc'];
      }
      window.table = $('#table').empty().DataTable(options);
      var colsToKeep = $('#node-columns').val().map(parseFloat);
      Object.keys(window.nodes[0]).forEach((col, i) => {
        window.table.column(i).visible(colsToKeep.includes(i));
      });
      if($('input[name=nodelink]:checked')[0].id === 'nodebutton'){
        window.table.on('user-select', (e, dt, type, cell) => {
          window.nodes[cell.index().row].selected = 1;
          reorder();
          electron.ipcRenderer.send('update-node-selection', window.nodes);
        });
        // window.table.on('deselect', (e, dt, type, indices) => {
        //   window.nodes[indices[0]].selected = 0;
        //   reorder();
        //   electron.ipcRenderer.send('update-node-selection', window.nodes);
        // });
        window.table.rows(
          window.nodes
          .filter(n => n.selected)
          .map(n => n.index)
        ).select();
      }
      reorder();
      resetTextsize();
    }

    electron.ipcRenderer.on('deliver-data', (e, data) => {
      window.nodes = data.nodes;
      window.links = data.links;

      $('#node-columns').html(
        Object.keys(window.nodes[0])
        .filter(k => !meta.includes(k))
        .map((d, i) => {
          out = '<option value="' + i;
          if(i < 10){
            out += '" selected >';
          } else {
            out += '">';
          }
          return out + d + '</option>';
        })
        .join('\n')
      );

      $('#link-columns').html(
        Object.keys(window.links[0])
        .filter(k => !meta.includes(k))
        .map((d, i) => {
          out = '<option value="' + i;
          if(i < 10){
            out += '" selected >';
          } else {
            out += '">';
          }
          return out + d + '</option>';
        })
        .join('\n')
      );

      updateTable();

      if('mst' in window.links[0]){
        $('.showForMST').show().filter('tr').css('display', 'table-row');
      }
    });

    electron.ipcRenderer.send('get-data');

    $('#font-size-slider').on('input', resetTextsize);

    $('#link-columns').change(e => {
      if($('input[name=nodelink]:checked')[0].id === 'linkbutton'){
        var colsToKeep = $('#link-columns').val().map(parseFloat);
        Object
          .keys(window.links[0])
          .forEach((col, i) => window.table.column(i).visible(colsToKeep.includes(i)));
      }
    });

    $('#node-columns').change(e => {
      if($('input[name=nodelink]:checked')[0].id === 'nodebutton'){
        var colsToKeep = $('#node-columns').val().map(parseFloat);
        Object
          .keys(window.nodes[0])
          .forEach((col, i) => window.table.column(i).visible(colsToKeep.includes(i)));
      }
    });

    $('input[name=MSTAll]').on('change', updateTable);
    $('input[name=nodelink]').on('change', updateTable);
  });

  $.fn.dataTable.ext.errMode = 'none';
  </script>
</body>
</html>
