<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MicrobeTrace - Table</title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/chosen-js/chosen.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/datatables.net-bs/css/dataTables.bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/datatables.net-select-bs/css/select.bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <style>
    body{
      overflow:auto;
      display:block;
    }
    .dataTables_wrapper{
      padding: 1em;
      padding-top: 2.5em;
    }
    table{
      width: 100% !important;
      white-space: nowrap;
      table-layout: fixed;
    }
    .odd{
      background-color: #e9e9e9;
    }
    tr:hover{
      background-color: #0084c7;
    }
    th {
      transform-origin:center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #node-columns, #link-columns, #cluster-columns {
      width: 100%;
    }
    .showForMST{
      display: none;
    }
    #type-panel{
      position:absolute;
      top: 60px;
      left: 15px;
    }
  </style>
</head>
<body>
  <div id="type-panel">
    <div class="btn-group btn-group-xs" data-toggle="buttons">
      <label class="btn btn-default active">
        <input type="radio" name="nodelink" id="nodes" autocomplete="off" checked="checked"> Nodes
      </label>
      <label class="btn btn-default">
        <input type="radio" name="nodelink" id="links" autocomplete="off"> Links
      </label>
      <label class="btn btn-default">
        <input type="radio" name="nodelink" id="clusters" autocomplete="off"> Clusters
      </label>
    </div>
  </div>

  <div id="main_panel">
    <table id="table" class="table display compact"></table>
  </div>

  <div id="settingsModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Table Settings</h4>
        </div>
        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tableConfigurations" aria-controls="messages" role="tab" data-toggle="tab">Table</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tableConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Text Size</div>
                  <div class="col-xs-9"><input type="range" id="font-size-slider" min="6" value="14" max="72" step="1" /></div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Header Tilt</div>
                  <div class="col-xs-9"><input type="range" id="tiltHeaders" min="-7.5" value="0" max="7.5" step=".25" /></div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Columns</div>
                  <div class="col-xs-9"><select id="columns" class="chosen-select" multiple></select></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script type="text/javascript">
  const electron = require('electron');
  const jetpack = require('fs-jetpack');
  window.jQuery = window.$ = require('jquery');
  require('chosen-js');
  require('bootstrap');
  require('datatables.net-bs')(window, $);
  require('datatables.net-select')(window, $);
  require('datatables.net-scroller')(window, $);
  const Papa = require('papaparse');

  const meta = ['index', 'padding', 'selected', 'visible', 'orig', 'mst'];

  $(function(){

    $('head').append(electron.ipcRenderer.sendSync('get-component', 'titleize.html'));
    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('body').append(electron.ipcRenderer.sendSync('get-component', 'search.html'));

    window.table = { destroy: () => {} };

    function reorder(){ table.draw(false); }

    function resetTextsize(){
      var s = $('#font-size-slider').val();
      $('#table').css({
        'font-size': s + 'px',
        'line-height': s/10
      });
    }

    function updateTable(){
      let data_type = $('input[name=nodelink]:checked')[0].id;
      let data = [];
      if(data_type == 'clusters'){
        data = session.data.clusters.filter(c => c.nodes > 1);
      } else {
        data = session.data[data_type];
      }
      let columns = session.data[data_type.slice(0,-1) + 'Fields'];
      table.destroy();
      let options = {
        dom: 'rti',
        data: data,
        columns: columns.map(k => ({title:titleize(k), data:k, mData:k, sTitle:titleize(k)})),
        deferRender: true,
        scrollY: $(window).height() - 174,
        scrollCollapse: true,
        scroller: true,
        colReorder: true,
        select: {
          style: 'multi'
        }
      };
      let selectedColumn = columns.findIndex(d => d === 'selected');
      if(selectedColumn >= 0) options.orderFixed = [selectedColumn, 'desc'];
      window.table = $('#table').empty().DataTable(options);
      let colsToKeep = $('#columns').val().map(parseFloat);
      columns.forEach((col, i) => table.column(i).visible(colsToKeep.includes(i)));
      table.on('user-select', (e, dt, type, cell) => {
        let index = cell.index().row;
        if(data_type === 'nodes'){
          session.data[data_type][index].selected = !session.data[data_type][index].selected;
          table.row(index).data(session.data[data_type][index]);
          electron.ipcRenderer.send('update-node-selections', session.data.nodes.map(d => d.selected));
        }
        reorder();
      });
      table.rows(session.data[data_type].filter(n => n.selected).map(n => n.index)).select();
      reorder();
      resetTextsize();
    }

    electron.ipcRenderer.on('set-session', (e, session) => {
      window.session = session;
      session.data.clusterFields = Object.keys(session.data.clusters[0]);
      updateColumns();
      updateTable();
    });

    electron.ipcRenderer.on('update-node-selections', (e, selections) => {
      let i = 0, n = session.data.nodes.length;
      for(i; i < n; i++) session.data.nodes[i].selected = selections[i];
      updateTable();
    });

    electron.ipcRenderer.on('update-node-visibilities', (e, selections) => {
      let i = 0, n = session.data.nodes.length;
      for(i; i < n; i++) session.data.nodes[i].visible = selections[i];
      updateTable();
    });

    electron.ipcRenderer.on('update-link-visibilities', (e, selections) => {
      let i = 0, n = session.data.links.length;
      for(i; i < n; i++) session.data.links[i].visible = selections[i];
      updateTable();
    });

    $('#search').on('input', e => table.search(e.target.value).draw());

    function updateColumns(){
      let type = $('input[name=nodelink]:checked')[0].id.slice(0,-1);
      $('#columns')
        .chosen('destroy')
        .html(
          session.data[type+'Fields'].map((d, i) => {
            if(meta.includes(d)) return;
            return `<option value="${i}"${(i < 7) ? " selected" : ""}>${titleize(d)}</option>`
          }).join('\n')
        ).chosen({width: "100%"}).change(e => {
          let colsToKeep = $('#columns').val().map(parseFloat);
          session.data[type+'Fields'].forEach((col, i) => table.column(i).visible(colsToKeep.includes(i)));
        });
    }

    $('#tiltHeaders').on('input', function(e){
      let theta = $(this).val();
      let h = $('th:first').width() * Math.sin(Math.abs(theta) * Math.PI / 180);
      $('th').css({
        'transform': `rotate(${-theta}deg)`,
        'border-bottom': '0px',
        'height': `${h}px`,
        'overflow': 'visible'
      });
      if($(this).val() == 0){
        $('th').css({
          'border-bottom': '1px solid black',
          'overflow': 'hidden'
        });
      }
    });

    function resetTextsize(){
      var s = $('#font-size-slider').val();
      $('#table').css({
        'font-size': s + 'px',
        'line-height': s/10
      });
    }

    $('input[name=nodelink]').on('change', e => {
      updateColumns();
      updateTable();
    });

    $('#columns').on('change', e => updateTable());

    $('#font-size-slider').on('input', resetTextsize);

    electron.ipcRenderer.send('get-session');
  });

  $.fn.dataTable.ext.errMode = 'none';
  </script>
</body>
</html>
